<a href="https://colab.research.google.com/github/GGpark1/User-Log-data-analytics/blob/main/Collaborative_filltering_elec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 구매 기록이 한번도 없는 상품은 추천 목록에서 제외 -> 희소문제를 해결하기 위함 
  - 전자 제품 군의 14,950개의 상품 중에서 한번도 팔리지 않은 상품은 약 10,000개로 분석에 포함될 시 희소문제를 일으킬 가능성이 높음

- 편향 보정을 위해 스마트폰을 구매한 일부 비율을 뺄까?

## 구매 횟수 필터 없는 추천 시스템

In [ ]:
from pandas.io import gbq

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#pd.options.display.float_format = "{:,.2f}".format
import warnings
warnings.simplefilter("ignore")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [ ]:
sql = """SELECT user_id, product_id, count(*) AS purchase_count
FROM empirical-weft-350709.CP2_ggpark.log_data
WHERE category_code LIKE 'electronics%' AND event_type = 'purchase'
GROUP BY user_id, product_id
ORDER BY purchase_count DESC"""
project_id = 'empirical-weft-350709'

df = pd.read_gbq(sql, project_id=project_id, dialect='standard')

In [ ]:
df_ratings = df

In [ ]:
df_ratings['purchase_count'].mean()

1.4209971178845675

In [ ]:
sql = """SELECT product_id, brand, category_code FROM `empirical-weft-350709.CP2_ggpark.log_data`
WHERE event_type = 'purchase' AND category_code LIKE 'electronics%'
GROUP BY product_id, brand, category_code"""
project_id = 'empirical-weft-350709'

df_product = pd.read_gbq(sql, project_id=project_id, dialect='standard')

In [ ]:
product_data = df_product
product_data.head()

   product_id      brand                 category_code
0    11300053      texet         electronics.telephone
1    22400122      trust  electronics.audio.microphone
2    11300005  panasonic         electronics.telephone
3     9900453    byintek   electronics.video.projector
4    18500081      huion            electronics.tablet

In [ ]:
df_fin = pd.pivot_table(df, index = ['user_id'], columns = ['product_id'], values = 'purchase_count')

In [ ]:
df_fin

product_id,1000978,1001588,1002042,1002062,1002098,1002099,1002100,1002101,1002102,1002103,...,22400236,51600003,51600004,51600005,51600009,51600010,51600011,51600012,51600018,51600020
user_id,,,,,,,,,,,,,,,,,,,,,
303160429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340041246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401021311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403013066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410333972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566263549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566265448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566270060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566274637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566278294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_base_line = df_fin.fillna(1.42)

In [ ]:
df_final = df_fin.fillna(0)

In [ ]:
df_final['total'] = df_final.sum(axis=1)
df_filtered = df_final.loc[df_final['total'] > 1]
df_filtered.drop(columns='total', inplace = True)

df_filtered

In [ ]:
matrix = df_filtered.values
user_ratings_mean = np.mean(matrix, axis = 1)

In [ ]:
user_ratings_mean_reshape = user_ratings_mean.reshape(-1, 1)

In [ ]:
matrix_user_mean = matrix - user_ratings_mean_reshape

In [ ]:
pd.DataFrame(matrix_user_mean, columns = df_filtered.columns, index = df_filtered.index).head()

product_id,1000978,1001588,1002042,1002062,1002098,1002099,1002100,1002101,1002102,1002103,...,22400236,51600003,51600004,51600005,51600009,51600010,51600011,51600012,51600018,51600020
user_id,,,,,,,,,,,,,,,,,,,,,
403013066,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,...,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426
415873351,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,...,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426
427391662,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,...,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426
437371552,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,...,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426
446080337,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,...,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426,-0.000426

In [ ]:
from scipy.sparse.linalg import svds

In [ ]:
U, sigma, Vt = svds(matrix_user_mean, k = 12)

In [ ]:
print(U.shape)
print(sigma.shape)
print(Vt.shape)

(72380, 12)
(12,)
(12, 4698)

In [ ]:
sigma = np.diag(sigma)

In [ ]:
sigma.shape

(12, 12)

In [ ]:
sigma[0]

array([137.4352273,   0.       ,   0.       ,   0.       ,   0.       ,
         0.       ,   0.       ,   0.       ,   0.       ,   0.       ,
         0.       ,   0.       ])

In [ ]:
dot_matrix = np.dot(U, sigma)

In [ ]:
df_svd_predicted_purchase = np.dot(dot_matrix, Vt)

In [ ]:
df_svd_predicted_purchase = df_svd_predicted_purchase + user_ratings_mean_reshape

In [ ]:
df_svd_preds = pd.DataFrame(df_svd_predicted_purchase, columns = df_filtered.columns, index = df_filtered.index)
df_svd_preds.head()

product_id,1000978,1001588,1002042,1002062,1002098,1002099,1002100,1002101,1002102,1002103,...,22400236,51600003,51600004,51600005,51600009,51600010,51600011,51600012,51600018,51600020
user_id,,,,,,,,,,,,,,,,,,,,,
403013066,-0.000098,-0.000036,-0.000040,0.000240,0.000437,0.000424,0.000881,0.000010,0.000317,-0.000036,...,-0.000036,-0.000036,-0.000036,-0.000036,-0.000036,-0.000036,-0.000036,-0.000036,-0.000036,-0.000036
415873351,0.000414,0.000387,0.000386,0.000395,0.000406,0.000466,0.000404,0.000464,0.000480,0.000384,...,0.000384,0.000384,0.000384,0.000384,0.000384,0.000384,0.000384,0.000384,0.000384,0.000384
427391662,0.000002,0.000102,0.000091,0.000099,0.000081,-0.000102,0.000041,0.000337,0.000060,0.000094,...,0.000094,0.000094,0.000094,0.000094,0.000094,0.000094,0.000094,0.000094,0.000094,0.000094
437371552,0.000404,0.000397,0.000397,0.000408,0.000416,0.000438,0.000432,0.000421,0.000434,0.000397,...,0.000397,0.000397,0.000397,0.000397,0.000397,0.000397,0.000397,0.000397,0.000397,0.000397
446080337,0.000065,0.000085,0.000089,0.000083,0.000256,0.000721,0.000233,0.000345,0.000256,0.000091,...,0.000091,0.000091,0.000091,0.000091,0.000091,0.000091,0.000091,0.000091,0.000091,0.000091

In [ ]:
def recommend_movies(df_svd_preds, user_id, ori_movies_df, ori_ratings_df, num_recommendations=5):
    
    #현재는 index로 적용이 되어있으므로 user_id - 1을 해야함.
    user_row_number = user_id 
    
    # 최종적으로 만든 pred_df에서 사용자 index에 따라 영화 데이터 정렬 -> 영화 평점이 높은 순으로 정렬 됌
    sorted_user_predictions = df_svd_preds.loc[user_row_number].sort_values(ascending=False)
    
    # 원본 평점 데이터에서 user id에 해당하는 데이터를 뽑아낸다. 
    user_data = ori_ratings_df[ori_ratings_df.user_id == user_id]
    
    # 위에서 뽑은 user_data와 원본 영화 데이터를 합친다. 
    user_history = user_data.merge(ori_movies_df, on = 'product_id').sort_values(['purchase_count'], ascending=False)
    
    # 원본 영화 데이터에서 사용자가 본 영화 데이터를 제외한 데이터를 추출
    recommendations = ori_movies_df[~ori_movies_df['product_id'].isin(user_history['product_id'])]
    # 사용자의 영화 평점이 높은 순으로 정렬된 데이터와 위 recommendations을 합친다. 
    recommendations = recommendations.merge( pd.DataFrame(sorted_user_predictions).reset_index(), on = 'product_id')
    # 컬럼 이름 바꾸고 정렬해서 return
    recommendations = recommendations.rename(columns = {user_row_number: 'Predictions'}).sort_values('Predictions', ascending = False).iloc[:num_recommendations, :]
                      

    return user_history, recommendations

In [ ]:
already_rated, predictions = recommend_movies(df_svd_preds, 523974502, product_data, df_ratings, 10)

In [ ]:
predictions

      product_id    brand           category_code  Predictions
2147     5100866  samsung      electronics.clocks     0.139439
1468     5100860  samsung      electronics.clocks     0.115693
1344     1005031   xiaomi  electronics.smartphone     0.085602
1476     1801739  samsung    electronics.video.tv     0.078664
1325     1004739   xiaomi  electronics.smartphone     0.059773
1462     5100577  samsung      electronics.clocks     0.049753
1460     5100564  samsung      electronics.clocks     0.032617
1205     5100722   huawei      electronics.clocks     0.026976
1464     5100719  samsung      electronics.clocks     0.026686
1534     1004836  samsung  electronics.smartphone     0.026021

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
def evaluate(sparse_matrix, pred_matrix):
        idx, jdx = sparse_matrix.to_numpy().nonzero()
        ys, preds = [], []
        for i, j in zip(idx, jdx):
            ys.append(sparse_matrix.iloc[i, j])
            preds.append(pred_matrix.iloc[i, j])

        error = mean_squared_error(ys, preds)
        return np.sqrt(error)

In [ ]:
# Base Line -> 예측 데이터를 평균으로 채워 넣음
# Mean_squared_error
# 구매 횟수에 필터를 걸지 않은 결과

evaluate(df_filtered, df_base_line)

2.178659284777304

In [ ]:
# 행렬 분해 방식으로 도출한 예측 데이터
# Mean_squared_error
# 구매 횟수에 필터를 걸지 않은 결과

evaluate(df_filtered, df_svd_preds)

2.07203304647919

## 구매 횟수 필터 있는 추천 시스템

In [ ]:
sql = """SELECT user_id, product_id, count(*) AS purchase_count
FROM empirical-weft-350709.CP2_ggpark.log_data
WHERE category_code LIKE 'electronics%' AND event_type = 'purchase'
GROUP BY user_id, product_id
HAVING purchase_count <= 5
ORDER BY purchase_count DESC"""
project_id = 'empirical-weft-350709'

df_limit = pd.read_gbq(sql, project_id=project_id, dialect='standard')

In [ ]:
df_limit.sort_values('purchase_count')

          user_id  product_id  purchase_count
146438  520100082     1005196               1
195242  527361074     1005197               1
195243  562094335     1004935               1
195244  516298516     1004892               1
195245  513835455     1005189               1
...           ...         ...             ...
1609    559814370     1003311               5
1608    515405029     1005104               5
1607    514931143     1004237               5
1605    521656912     1002633               5
0       525607147     2300244               5

[292878 rows x 3 columns]

In [ ]:
df_ratings_limit = df_limit
mean = df_ratings_limit['purchase_count'].mean()

In [ ]:
df_fin_limit = pd.pivot_table(df_limit, index = ['user_id'], columns = ['product_id'], values = 'purchase_count')
df_fin_limit

product_id,1000978,1001588,1002042,1002062,1002098,1002099,1002100,1002101,1002102,1002103,...,22400236,51600003,51600004,51600005,51600009,51600010,51600011,51600012,51600018,51600020
user_id,,,,,,,,,,,,,,,,,,,,,
303160429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340041246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401021311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403013066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410333972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566263549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566265448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566270060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566274637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566278294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_final_limit = df_fin_limit.fillna(0)

In [ ]:
df_base_line_limit = df_fin_limit.fillna(mean)

In [ ]:
df_final_limit['total'] = df_final_limit.sum(axis=1)
df_filtered_limit = df_final_limit.loc[df_final_limit['total'] > 1]
df_filtered_limit.drop(columns='total', inplace = True)

df_filtered_limit

product_id,1000978,1001588,1002042,1002062,1002098,1002099,1002100,1002101,1002102,1002103,...,22400236,51600003,51600004,51600005,51600009,51600010,51600011,51600012,51600018,51600020
user_id,,,,,,,,,,,,,,,,,,,,,
403013066,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415873351,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427391662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
437371552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
446080337,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566240992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
566243643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
566249028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
566249559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
566256174,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
matrix_limit = df_filtered_limit.values
user_ratings_mean_limit = np.mean(matrix_limit, axis = 1)

In [ ]:
user_ratings_mean_reshape_limit = user_ratings_mean_limit.reshape(-1, 1)

In [ ]:
matrix_user_mean_limit = matrix_limit - user_ratings_mean_reshape_limit

In [50]:
U_limit, sigma_limit, Vt_limit = svds(matrix_user_mean_limit, k = 1500)

In [51]:
sigma_limit = np.diag(sigma_limit)

In [52]:
dot_matrix_limit = np.dot(U_limit, sigma_limit)

In [53]:
df_svd_predicted_purchase_limit = np.dot(dot_matrix_limit, Vt_limit)

In [54]:
df_svd_predicted_purchase_limit = df_svd_predicted_purchase_limit + user_ratings_mean_reshape_limit

In [55]:
df_svd_preds_limit = pd.DataFrame(df_svd_predicted_purchase_limit, columns = df_filtered_limit.columns, index = df_filtered_limit.index)
df_svd_preds_limit.head()

product_id,2400103,2400109,2400163,2400194,2400216,2400257,2400260,2400267,2400282,2400303,...,46800030,46800031,51000001,51000002,51000006,51000010,51000016,51000027,51000028,51000029
user_id,,,,,,,,,,,,,,,,,,,,,
475786534,0.000227,-0.000095,-0.000095,0.000008,0.000029,-0.000095,-0.000011,-0.000116,-0.000043,-0.000190,...,0.000142,-0.000095,-0.000002,-0.000095,-0.000095,-0.000168,-0.000095,-0.000095,-0.000095,-0.000211
481341715,-0.000025,-0.000026,-0.000026,-0.000060,0.000008,-0.000026,-0.000007,-0.000020,0.000062,-0.000038,...,0.000002,-0.000026,-0.000002,-0.000026,-0.000026,-0.000047,-0.000026,-0.000026,-0.000026,-0.000047
494312717,0.000012,-0.000026,-0.000026,0.000034,0.000004,-0.000026,0.000002,-0.000305,-0.000015,-0.000005,...,0.000115,-0.000026,0.000002,-0.000026,-0.000026,0.000019,-0.000026,-0.000026,-0.000026,0.000008
500246310,0.000006,-0.000013,-0.000013,-0.000016,-0.000042,-0.000013,0.000008,-0.000030,0.000104,-0.000006,...,0.000258,-0.000013,0.000002,-0.000013,-0.000013,0.000025,-0.000013,-0.000013,-0.000013,0.000045
512363712,0.000006,-0.000024,-0.000024,0.000030,-0.000014,-0.000024,0.000010,0.000069,-0.000057,0.000022,...,-0.000033,-0.000024,0.000003,-0.000024,-0.000024,0.000001,-0.000024,-0.000024,-0.000024,0.000053

In [57]:
already_rated, predictions = recommend_movies(df_svd_preds_limit, 512363712, product_data, df_ratings_limit, 10)

In [58]:
predictions

      product_id    brand                    category_code  Predictions
3051    10900233  polaris         appliances.kitchen.mixer     0.029155
1728     3100618    lumme       appliances.kitchen.blender     0.026765
2517     3200540  redmond  appliances.kitchen.meat_grinder     0.022713
4170    11100266     unit       appliances.personal.scales     0.016152
2181    10900043  maxwell         appliances.kitchen.mixer     0.012028
4495    36000004   vinzer        appliances.kitchen.kettle     0.010707
1229     4900296  redmond        appliances.kitchen.juicer     0.010459
3313     3100324  polaris       appliances.kitchen.blender     0.010184
546     19300076     ikea         appliances.ironing_board     0.010137
2033     3101023  redmond       appliances.kitchen.blender     0.010032

In [59]:
# Base Line -> 예측 데이터를 평균으로 채워 넣음
# Mean_squared_error
# 구매 횟수에 필터를 걸지 않은 결과

evaluate(df_filtered_limit, df_base_line_limit)

0.7565141480224759

In [60]:
# 행렬 분해 방식으로 도출한 예측 데이터
# Mean_squared_error
# 구매 횟수에 필터를 걸지 않은 결과

evaluate(df_filtered_limit, df_svd_preds_limit)

0.3388526870139358